<%= render 'shared/errors', obj: @article %>

<%= form_with(model: @article, local: true) do |f| %>
	<div class="form-group row">
		<div class="col-sm-2 col-form-label">
			<%= f.label :title %>
		</div>
		<div class="col-sm-8">
			<%= f.text_field :title, class: "form-control", placeholder: "Name of the article", autofocus: true%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2 col-form-label">
			<%= f.label :description %>
		</div>
		<div class="col-sm-8">
			<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of the article"%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2 col-form-label">
			<%= f.label "Categories: " %>
		</div>
		<div class="col-sm-8">
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
				<% cb.label(class: "form-check form-check-inline form-check-label") {cb.check_box(class: "form-check-input") + cb.text} %>
			<% end %>
		</div>
	</div>

	<div class="form-group row">
		<div class="offset-sm-2 col-sm-8">
			<%= f.submit class: "btn btn-primary form-control"%>
		</div>
	</div>

<% end %>

<div class="offset-sm-2 col-sm-8">
	<%= link_to 'Cancel and return to article listing', articles_path, class: "btn btn-secondary btn-block"%> 
</div>

