<h1 align="center" class="page-title">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
	<div class="col-md-4 offset-md-4 center">

		<%= gravatar_for @user, size:150 %>

	</div>
</div>
<hr>
<h4 align="center" class="page-title"><%= @user.username %>'s articles </h4>

<div class="row col-sm-2 offset-sm-5" align="center">
	<%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="row col-sm-2 offset-sm-5" align="center">
	<%= will_paginate @user_articles %>
</div>