<h1 align="center"class="page-title">Create new category </h1>

<%= render 'shared/errors', obj: @category %>

<%= form_with(model: @category, local: true) do |f| %>
	<div class="form-group row">
		<div class="col-sm-2 col-form-label">
			<%= f.label :name %>
		</div>
		<div class="col-sm-8">
			<%= f.text_field :name, class: "form-control", placeholder: "Enter category name", autofocus: true%>
		</div>
	</div>

	<div class="form-group row">
		<div class="offset-sm-2 col-sm-8">
			<%= f.submit class: "btn btn-primary form-control"%>
		</div>
	</div>

<% end %>

<div class="offset-sm-2 col-sm-8">
	<%= link_to 'Cancel and return to article listing', articles_path, class: "btn btn-secondary btn-block"%> 
</div>
